.cuerpo {
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.catalogo {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.title,
.intro,
.loading {
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
}
