.cuerpo {
  height: auto;
  background-color: black;
  padding-top: 30px;
  justify-content: space-around;
  align-items: center;
}

.catalogo {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.title,
.intro {
  color: white;
  display: flex;
  justify-content: center;
}
