.card {
  height: auto;
  width: 350px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: large;
  margin: 20px 0;
  padding-bottom: 1em;
}

.prevImg {
  width: 200px;
  height: 240px;
}

.infoButton {
  background-color: white;
  color: black;
}
