.card {
  height: 320px;
  width: 200px;
  background-color: teal;
  align-items: center;
  justify-content: center;
}

.count {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prevImg {
  width: 80px;
  height: 90px;
}
