.previewImg {
  width: 80%;
  height: 55%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.worksContainer {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.worksText {
  text-align: center;
  margin: 0;
}

h2 {
  padding: 1rem;
}
